.availability-viewer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 265px;
}

.availability-header {
    font-weight: 550;
    font-size: 20px;
    margin-bottom: 5px;
}

.availability-list {
    font-size: 18px;
    text-align: left;
}

.respondent {
    font-size: 15px;
    margin-bottom: 5px;
    color: #373737;
}

.available {
    color: green;
}

.unavailable {
    text-decoration: line-through;
    color: #828282;
    font-style: italic;
}
