.availability-viewer {
    display: flex;
    border: none !important;
    outline: none !important;
}

.times {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 57px
}

.days-grid {
    display: flex;
    padding-left: 10px;
}

.calendar-container {
    display: flex;
    margin-bottom: 100px;
}