.day-column {
    display: flex;
    flex-direction: column;
}

.day-title {
    font-size: 20px;
}

.time-cell-hour {
    display: flex;
    flex-direction: column;
    height: 60px;
}

.time-slot-30 {
    width: 175px;
    height: 50%;
    border: 1px solid #373737;
}

.time-slot-15 {
    height: 50%;
}

.time-slot-15:hover {
    background-color: #373737;
}