.delete-meeting-container {
    width: 500px;
    height: fit-content;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 25px;
    gap: 30px;
}

.delete-meeting-text {
    font-size: 22px;
    font-weight: 500;
    color: #373737;
}

.delete-meeting-subtext {
    font-size: 18px;
    color: #828282;
}

.delete-button, .delete-button:active {
    width: 150px;
    background-color: #DA2A2A;
    transition: background-color 0.3s;
    color: white;
    border: none;
}

.delete-button:hover {
    outline: 3px solid #DA2A2A;
    outline-offset: -3px;
    background-color: white;
    color: #373737;
    border: none;
}