.footer {
    width: 100vw;
    height: 50px;
}

.footer-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.footer-button {
    color: #373737;
    font-family: "Inter", sans-serif;
    transition: color 0.2s;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.footer-button:hover, .footer-button:active, .footer-button:focus {
    color: #1E965C;
}