.footer {
    width: 100vw;
    height: 50px;
}

.footer-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.footer-button {
    color: #373737;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}