.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    width: 100vw;
}

.nav-buttons {
    display: flex;
    gap: 2rem;
    margin-right: 16vw;
}

.header-logo {
    height: 2.5rem;
    cursor: pointer;
    margin-left: 16vw;
}

.menu-button {
    color: #373737;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}