.meeting-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s;
    width: 100%;
    height: 150px;
    box-shadow: rgba(109, 109, 109, 0.2) 0px 2px 10px 2px;
    background-color: white;
    border-radius: 30px;
    padding: 25px;
    cursor: pointer;
    box-sizing: border-box;
}

.meeting-container:hover {
    background-color: #1E965C;
    box-shadow: rgba(119, 119, 119, 0.2) 0px 2px 10px 5px;
}

.meeting-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.meeting-info-title {
    color: #1E965C;
    transition: color 0.3s;
    font-size: 35px;
    font-weight: 600;
}

.divider {
    width: 4px;
    position: relative;
    height: 100px;
    margin-right: 20px;
    background-color: #1E965C;
    transition: background-color 0.3s;
}

.meeting-container:hover .divider {
    background-color: white;
}

.meeting-info-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #1E965C;
    transition: color 0.3s;
    font-size: 16px;
    font-weight: 500;
    gap: 8px;
}

.clock-icon, .calendar-icon {
    fill: #1E965C;
    transition: fill 0.3s;
}

.meeting-container:hover .clock-icon,
.meeting-container:hover .calendar-icon,
.meeting-container:hover .recurring-icon {
    fill: white;
}

.scheduled {
    display: flex;
    align-items: center;
}

.scheduled-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1E965C;    
}

.scheduled-day {
    display: flex;
    font-size: 25px;
    font-weight: 500;
    gap: 10px;
    transition: color 0.3s;
}

.scheduled-time {
    font-size: 15px;
    font-weight: 500;
    transition: color 0.3s;
}

.recurring-icon {
    fill: #1E965C;
    transition: fill 0.3s;
}

.no-meeting-text {
    font-size: 22px;
    color: #1E965C;
    font-weight: 500;
    line-height: 1.2;
    transition: color 0.3s;
}

.meeting-container:hover .meeting-info-title,
.meeting-container:hover .meeting-info-details,
.meeting-container:hover .no-meeting-text,
.meeting-container:hover .scheduled-day,
.meeting-container:hover .scheduled-time {
    color: white; /* Change text color to white when hovering over the meeting container */
}