@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.auth-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 450px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 10px 0px;
    background-color: white;
    border-radius: 30px;
}

.auth-logo {
    width: 180px;
    margin-bottom: 10px;
    height: auto;
    cursor: pointer;
}

.google-logo {
    width: 30px;
    height: auto;
    margin-right: 1px;
}

.auth-input {
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
    outline: 2px solid white;     
    outline-offset: -2px;
    transition: outline-color 0.3s ease-out; 
    color: #373737;
}

.auth-input:focus {
    box-shadow: rgba(109, 109, 109, 0.2) 0px 2px 5px 2px;
    outline: 2px solid #1E965C !important;
    outline-offset: -2px;   
    transition: outline-color 0.5s ease-in!important; 
}

.auth-input::placeholder {
    color: #828282;
}

.input-container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }

.eye-icon {
    width: 20px;
    height: auto;
    position: absolute;
    right: 35px;
    top: 10px;
    cursor: pointer;
    color: #373737;
}

.eye-icon:hover {
    color: #1E965C;
}

.signin-button, .signin-button:active {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    height: 40px;
    width: 350px;
    margin-top: 10px;
    background-color: #373737;
    font-family: 'Inter', sans-serif;
    color: white;
    cursor: pointer;
}

.signin-button:hover {
    background-color: white;
    border: 3px solid #373737;
    color: #373737;
}

.signin-google-button, .signin-google-button:active {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    height: 40px;
    width: 350px;
    margin-top: 0px;
    background-color: #EEEEEE;
    font-family: 'Inter', sans-serif;
    color: #373737;
}

.signin-google-button:hover {
    background-color: white;
    border: 3px solid #EEEEEE;
    color: #1E965C;
}

.signup-button, .signup-button:active {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    height: 40px;
    width: 350px;
    margin-top: 10px;
    background-color: #1E965C;
    font-family: 'Inter', sans-serif;
    color: white;
}

.signup-button:hover {
    background-color: white;
    border: 3px solid #1E965C;
    color: #1E965C;
}

.instruction-small {
    margin: 20px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #373737;
}

.instruction-medium {
    margin-top: 6px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #373737;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 20px;
    width: 330px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #E0E0E0;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    cursor: text;
    color: #373737;
}

input:focus, input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #373737;
}

.signin-button:focus, .signup-button:focus, .signin-google-button:focus {
    outline: none;
    outline-width: 0px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.invitation-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.invited-text {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #373737;
}

.invited-meeting-title {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #373737;
}