@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.front-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.page-content {
    display: flex;
    flex-direction: column;
    width: 68vw;
    padding-bottom: 60px;
}

.welcome-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.welcome-text-main {
    font-size: 4.5rem; /* Responsive text size */
    font-weight: bold;
    color: #373737;
}

.welcome-text-sub {
    font-size: 2.2rem; /* Responsive text size */
    font-weight: 500;
    color: #1E965C;
    margin-top: -20px;
    margin-bottom: 50px;
}

.welcome-message-text-steps {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    font-family: "Lexend", sans-serif;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.how-to {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.how-to-heading {
    font-size: 2.5rem; /* Responsive text size */
    font-weight: 600;
    color: #373737;
}

.how-to-steps {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.step {
    display: flex;
    flex-direction: row;
    background-color: #1E965C;
    border-radius: 20px;
    color: white;
    align-items: center;
    padding: 10px;
}

.step-number {
    font-size: 45px;
    font-weight: 500;
    margin-right: 15px;
}

.step-text {
    font-size: 30px;
    font-weight: 500;
}

/* Media queries for different screen sizes */
@media (max-width: 1200px) {
    .welcome-text-main {
        font-size: 3.5rem;
    }
    .welcome-text-sub {
        font-size: 1.8rem;
    }
    .step-number {
        font-size: 1.8rem;
    }
    .step-message {
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {
    .welcome-text-main {
        font-size: 3rem;
    }
    .welcome-text-sub {
        font-size: 1.5rem;
    }
    .step-number {
        font-size: 1.5rem;
    }
    .step-message {
        font-size: 1.2rem;
    }
    .page-content {
        padding-bottom: 150px;
    }
}

@media (max-width: 480px) {
    .welcome-text-main {
        font-size: 2.5rem;
    }
    .welcome-text-sub {
        font-size: 1.6rem;
    }
    .step-number {
        font-size: 1.2rem;
    }
    .step-message {
        font-size: 1rem;
    }
    .page-content {
        padding-bottom: 100px;
    }
}


/* Important for making sure everything is centered */
#root {
    max-width: 100%;
    padding: 0;
}
