@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.meetings {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    gap: 20px;
}

.sub-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 35px;
}

.sub-header-text {
    font-size: 40px;
    font-weight: 500;
    color: #373737;
}

.sub-header-icon, .sub-header-icon:active {
    width: 40px;
    height: auto;
    transition: background-color 0.3s;
    background-color: #1E965C;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.sub-header-icon:hover {
    background-color: white;
    outline: 3px solid #1E965C;
    outline-offset: -3px;
    color: #1E965C;
}

.no-meetings-blurb {
    color: #1E965C;
    font-size: 25px;
    font-weight: 500;
    margin-top: 250px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.create-meeting-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 550px;
    align-items: center;
    justify-content: center;
}

.custom-create-meeting {
    border: none;
    margin-right: 0;
    margin-top: 0;
}

.close-button {
    background-color: #E0E0E0;
    transition: background-color 0.3s;
    color: #373737;
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    bottom: -90px;
}

.close-button:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    outline: 3px solid #DA2A2A;
    outline-offset: -2px;
    position: absolute;
    bottom: -90px;;
}

.close-button:focus {
    outline: none;
    outline-width: 0px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #DA2A2A;
    color: white;
    position: absolute;
    bottom: -90px;;
}