.meeting-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.meeting-page-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 68vw;
    padding-bottom: 60px;
}

.meeting-sub-header {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 68vw;
    gap: 10px;
}

.sub-header-first-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.meeting-sub-header-text {
    font-size: 40px;
    font-weight: 500;
    color: #373737;
    padding: 0px !important;
}

.meeting-sub-header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.meeting-edit-button, .meeting-edit-button:focus {
    color: #373737;
    transition: color 0.3s;
    cursor: pointer;
}

.meeting-edit-button:hover {
    color: #1E965C;
}

.meeting-delete-button, .meeting-delete-button:focus {
    color: #373737;
    transition: color 0.3s;
    cursor: pointer;
}

.meeting-delete-button:hover {
    color: #DA2A2A;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.meeting-info-invites {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    margin-bottom: 10px;
    gap: 20px;
}

.add-invite-icon {
    height: 28px;
    width: auto;
    color: #D9D9D9;
    transition: background-color 0.3s;
    border-radius: 30px;
    margin-left: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.add-invite-icon:hover, .add-invite-icon:checked {
    height: 28px;
    width: auto;
    color: white;
    border-radius: 50px;
    background-color: #D9D9D9;
    outline: 2px solid #D9D9D9;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
    outline-offset: -2px;
    margin-left: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.invite {
    height: 41px;
    position: relative;
    margin-right: -8px;
}

.invite-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.invite-icon {
    height: 25px;
    width: auto;
    background-color: #D9D9D9;
    color: white;
    padding: 5px;
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.invite-icon-accepted {
    height: 25px;
    width: auto;
    background-color: #1E965C;
    color: white;
    padding: 5px;
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.invite-icon:hover, .invite-icon-accepted:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
}

.invite .tooltip {
    visibility: hidden;
    width: auto;
    background-color: #373737;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.6s;
}

.invite:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.add-invite-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center !important;
}

.invite-modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.invite-modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.invite-modal-popout {
    border-radius: 10px;
    border: none !important;
    outline: none !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
    outline: 2px solid white !important;     
    outline-offset: -2px;       
    transition: outline-color 0.3s ease-out; 
}

.invite-modal-popout:focus {
    border: none;
    border-radius: 10px;
    box-shadow: rgba(109, 109, 109, 0.2) 0px 2px 5px 2px;
    outline: 2px solid #1E965C !important;
    outline-offset: -2px;   
    transition: outline-color 0.5s ease-in!important;
}

.send-invite-icon {
    position: absolute;
    right: 10px;
    color: #D9D9D9;
    transition: color 0.3s;
    cursor: pointer;
}

.sending-icon {
    position: absolute;
    right: 10px;
}

.send-invite-icon:hover, .send-invite-icon:active {
    position: absolute;
    right: 10px;
    color: #1E965C;
}

.admin-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.edit-availability-button, .edit-availability-button:focus {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    height: 40px;
    width: 210px;
    background-color: #1E965C;
    font-family: 'Inter', sans-serif;
    color: white;
    border: none;
    outline: none !important;
}

.edit-availability-button:hover, .edit-availability-button:hover:focus {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 3px solid #1E965C !important;
    outline: none !important;
    color: #1E965C;
}

.edit-availability-button:active {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    background-color: #1E965C;
    color: white;
}

.edit-availability-button.flash {
    animation: flash 0.4s ease-in-out 2;
}

.edit-availability-button.disabled, .edit-availability-button.disabled:hover {
    background-color: #D9D9D9;
    cursor: not-allowed;
    color: white;
    border: none !important;
}

.schedule-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.close-scheduling-button {
    display: flex;
    height: 40px;
    width: 125px;
    align-items: center;
    justify-content: center;
    background-color: #DA2A2A;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s;
    border: none;
    outline: none !important;
}

.close-scheduling-button:hover {
    border: 3px solid #DA2A2A;
    background-color: white;
    color: #DA2A2A;
}

@keyframes flash {
    0%, 100% { 
        background-color: #1E965C; 
        border: none;
    }
    50% { 
        background-color: white; 
        border: 3px solid #1E965C; 
        outline: none ; 
        color: #1E965C; 
        font-weight: 700;
    }
}