@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.auth-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 450px;
    border: 3px solid #D9D9D9;
    border-radius: 30px;
}

.auth-logo {
    width: 180px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: auto;
}

.google-logo {
    width: 30px;
    height: auto;
    margin-right: 1px;
}

.signin-button {
    height: 40px;
    width: 350px;
    margin: 10px;
    background-color: #373737;
    font-family: 'Inter', sans-serif;
    color: white;
}

.signin-google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #EEEEEE;
    font-family: 'Inter', sans-serif;
    color: #373737;
}

.signup-button {
    height: 40px;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #0040B4;
    font-family: 'Inter', sans-serif;
    color: white;
}

.instruction-small {
    margin: 20px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #373737;
}

.instruction-medium {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #373737;
}

.instruction-large {
    margin: 10px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: #373737;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input {
    height: 20px;
    width: 330px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #E0E0E0;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}