.front-page {
    width: 100vw;
}

.page-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

#root {
    max-width: 100%;
    padding: 0;
}